@inherits LayoutComponentBase

<div class="page">

    <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"/>

    <div class="sidebar app-sidebar">
        <NavMenu/>
        <div class="version">
            <Version/>
        </div>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
